@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mouse Memoirs", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  padding: 5rem;
  background-image: linear-gradient(
    90deg,
    rgb(10, 245, 167) 0%,
    rgb(60, 232, 245) 100%
  );
}

header {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 4rem;
  margin: 2rem auto;
}

p {
  font-size: 2rem;
  margin: 2rem auto;
}

button {
  background-color: #f0fff0;
  color: #333;
  border: none;
  border-radius: 5%;
  padding: 0.8rem 2rem;
  margin: 1rem;
  width: 200px;
  height: auto;
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 2rem;
}

button:hover {
  cursor: pointer;
  background-color: #00ff7f;
}
.circles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.circle {
  background-color: white;
  color: #333;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.circle p {
  font-size: 2rem;
}

.active {
  /* box-shadow: 0 0 25px whitesmoke;
  border: 25px solid whitesmoke; */
  background: url("/src/assets/dd1.svg");
}

footer {
  display: flex;
  justify-content: center;
  align-content: flex-end;
}
