@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mouse Memoirs", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  padding: 5rem;
  background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
}

header {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 4rem;
  margin: 2rem auto;
}

p {
  font-size: 2rem;
  margin: 2rem auto;
}

button {
  background-color: #f0fff0;
  color: #333;
  border: none;
  border-radius: 5%;
  padding: 0.8rem 2rem;
  margin: 1rem;
  width: 200px;
  height: auto;
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 2rem;
}

/* button:hover {
  cursor: pointer;
  background-color: #00ff7f;
} */
.circles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.circle {
  background-color: white;
  color: transparent;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  /* cursor: pointer; */
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>❤️</text></svg>")
      16 0,
    auto; /*!emojicursor.app*/
  box-shadow: 0 0 10px gray;
}

.circle p {
  font-size: 2rem;
}

.circle:active {
  box-shadow: inset 0 0 20px gray;
}

.active {
  /* box-shadow: 0 0 25px whitesmoke;
  border: 25px solid whitesmoke; */
  background: url("/src/assets/owl.svg") no-repeat center;
  background-size: 80%;
}

footer {
  display: flex;
  justify-content: center;
  align-content: flex-end;
}
