@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mouse Memoirs", sans-serif;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  padding: 5rem;
  background-image: linear-gradient(to top, #96fbc4 0%, #42b9e8 100%);
  background-attachment: fixed;
}

header {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 4rem;
  margin: 2rem auto;
}

p {
  font-size: 2rem;
  margin: 2rem auto;
}

button {
  background-color: #f0fff0;
  color: #333;
  border: none;
  border-radius: 5%;
  padding: 0.8rem 2rem;
  margin: 1rem;
  width: 200px;
  height: auto;
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 2rem;
}

button:hover {
  background-color: #ffa07a;
}

button[disabled],
button:hover[disabled] {
  opacity: 30%;
}

.circles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.circle {
  background-color: white;
  color: transparent;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>❤️</text></svg>")
      16 0,
    auto; /*!emojicursor.app*/
  box-shadow: 0 0 10px gray;
}

.circle p {
  font-size: 2rem;
}

.circle:active {
  box-shadow: inset 0 0 20px gray;
}

.active {
  background: url("/src/assets/owl.svg") no-repeat center;
  background-size: 80%;
}

footer {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  bottom: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: grid;
  justify-items: center;
  align-items: center;
}

.gameover_popup {
  background: url("https://images.unsplash.com/photo-1636962027983-500f19243325?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1740&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 1.5rem;
  padding-right: 8rem;
  width: 60%;
  min-height: 45%;
  border-radius: 5%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.gameover_popup h2 {
  font-size: 2rem;
}

.gameover_popup button {
  background: #666699;
  color: whitesmoke;
  position: relative;
  top: 150px;
  right: 5px;
  width: 150px;
  cursor: pointer;
  font-size: 1.1rem;
  text-transform: capitalize;
}

@media (max-width: 450px) {
  .circle {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 5px;
    margin-bottom: 1rem;
  }
  .circles {
    display: flex;
    flex-wrap: nowrap;
  }
  body {
    padding: 10px;
  }
  .gameover_popup h2 {
    font-size: 1.5rem;
  }
  .gameover_popup {
    padding: 2rem;
    padding-right: 11rem;
    width: 90%;
    min-height: 55%;
    display: flex;
    justify-content: center;
  }
  .gameover_popup button {
    top: 100px;
    left: 50%;
  }
}

@media (min-width: 451px) and (max-width: 599px) {
  .circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 10px;
    margin-bottom: 1rem;
  }
  .circles {
    display: flex;
    flex-wrap: nowrap;
  }
  body {
    padding: 10px;
  }
  .gameover_popup h2 {
    font-size: 1.5rem;
  }
  .gameover_popup {
    padding: 1.5rem;
    padding-right: 8rem;
    width: 70%;
    min-height: 45%;
    display: flex;
    justify-content: center;
  }
  .gameover_popup button {
    top: 100px;
    left: 30%;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  .circle {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: 1rem;
  }
  .circles {
    display: flex;
    flex-wrap: nowrap;
  }
  .gameover_popup {
    width: 70%;
    padding: 5rem;
    padding-right: 12rem;
  }
  .gameover_popup button {
    top: 80px;
    left: 40px;
  }
}

@media (min-width: 701px) and (max-width: 988px) {
  .circle {
    height: 150px;
    width: 150px;
  }
  .circles {
    display: flex;
    flex-wrap: nowrap;
  }
  .gameover_popup {
    width: 70%;
    padding: 5rem;
    padding-right: 12rem;
  }
  .gameover_popup button {
    top: 80px;
    left: 40px;
  }
}

